<div id="body">
    <br />
    <a href="~/os/Index">
        <img src="~/Images/Ordem_de_servico.png"  width="200" height="200"/>
        <label>Acesso á interface de Ordem de Serviços</label>
    </a>
    <br />
    <a href="~/cliente/Index">
        <img src="~/Images/cliente.png" width="200" height="200" />
        <label>Acesso á interface de Clientes</label>
    </a>
</div>